.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Yellowtail';
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #0a043c;
}

p {
  font-size: 2rem;
  color: #ffe3d8;
  font-family: 'Staatliches';
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
#button{
  text-align: center;
  padding: 45px;


}

.btn{
  color: #ffe3d8;
  background-color:#0a043c ;
  border: 1px solid #0a043c ;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 20px;
    font-family: 'Staatliches';

}
